.homePage {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
.homePage .content {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  max-width: 97%;
  margin: auto;
  padding: 1rem 0 1rem 0;
}
.homePage .content .heroCotainer {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
.homePage .content .heroCotainer img {
  width: 100%;
  height: 100vh;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.7rem;
}
.homePage .content .heroCotainer .heroContent {
  position: absolute;
  top: 70%;
  left: 5%;
}
.homePage .content .heroCotainer .heroContent h1 {
  color: #fff;
  font-size: 5rem;
  font-weight: 700;
}
.homePage .content .heroCotainer .heroContent button {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 1.5rem 2rem 1.5rem 2rem;
  background-color: #fff;
  border: none;
  border-radius: 5rem;
  font-family: "AvertaCY-Regular";
  font-size: 1.1rem;
  font-weight: 500;
  margin: 1rem 0 0 0;
  animation: expand 0.8s ease forwards;
  transition: all 0.8s ease;
}
.homePage .content .heroCotainer .heroContent button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #000;
}
.homePage .content .collection {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
.homePage .content .collection .collectionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0 5rem 0;
}
.homePage .content .collection .collectionContent .collectionTitle {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.homePage .content .collection .collectionContent .collectionDesc {
  width: 50%;
  font-size: 1.5rem;
  color: #ced4da;
  text-align: center;
}
.homePage .content .collection .collectionGrid {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  margin: 1rem 0 2rem 0;
}
.homePage .content .collection .collectionGrid .collectionItem {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
}
.homePage .content .collection .collectionGrid .collectionItem .productContainer {
  width: 450px;
  height: 400px;
  background-color: #ced4da;
  border-radius: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homePage .content .collection .collectionGrid .collectionItem .productContainer img {
  width: 100%;
  height: 100%;
  z-index: 0 !important;
  border-radius: 1.7rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.homePage .content .collection .collectionGrid .collectionItem .productContent {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1rem 0;
}
.homePage .content .collection .collectionGrid .collectionItem .productContent h1 {
  font-size: 1.4rem;
  font-weight: bold;
}
.homePage .content .collection .collectionGrid .collectionItem .productContent p {
  color: #c5c3c6;
  font-size: 1rem;
  margin: 0.7rem 0 0.7rem 0;
}
.homePage .content .collection .collectionGrid .collectionItem .productContent h2 {
  font-size: 1.4rem;
  font-weight: bold;
}
.homePage .content .collection .collectionGrid .collectionItem:hover {
  cursor: pointer;
}
.homePage .content .womenCollections {
  width: 100%;
  height: auto;
  margin: 5rem 0 10rem 0;
}
.homePage .content .womenCollections img {
  width: 100%;
  height: 70vh;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.7rem;
  margin: 2rem 0 2rem 0;
}
.homePage .content .womenCollections .womenCollectionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homePage .content .womenCollections .womenCollectionContent h1 {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.homePage .content .womenCollections .womenCollectionContent p {
  width: 50%;
  font-size: 1.5rem;
  color: #ced4da;
  text-align: center;
  margin: 1rem 0 1rem 0;
}
.homePage .content .womenCollections .womenCollectionContent button {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 1.5rem 2rem 1.5rem 2rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5rem;
  font-family: "AvertaCY-Regular";
  font-size: 1.1rem;
  font-weight: 500;
  margin: 1rem 0 0 0;
  animation: expand 0.8s ease forwards;
  transition: all 0.8s ease;
}
.homePage .content .categories {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
.homePage .content .categories .grid {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  margin: 5rem 0 5rem 0;
}
.homePage .content .categories .grid .categoryCard {
  position: relative;
  display: flex;
  flex-direction: column;
}
.homePage .content .categories .grid .categoryCard img {
  width: 450px;
  height: 600px;
  background-color: #ced4da;
  border-radius: 1.7rem;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.homePage .content .categories .grid .categoryCard .cardContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 5%;
  left: 5%;
}
.homePage .content .categories .grid .categoryCard .cardContent h1 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.homePage .content .categories .grid .categoryCard .cardContent button {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5rem;
  font-family: "AvertaCY-Regular";
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0 0 0;
  animation: expand 0.8s ease forwards;
  transition: all 0.8s ease;
}
.homePage .content .categories .grid .categoryCard .cardContent button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #000;
}/*# sourceMappingURL=homePage.module.css.map */